.jobs {
    display: none;
}
.show {
    display: grid;
}


 .clients .client .p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


@media only screen and (max-width: 430px) {

    .client {
        display: block;
        text-align: left;
        border: none;
        margin-bottom: 2rem;
    }
    .c_head {
        display: none;
    }
   
    .p p {
        text-align: left;
    }
    
}