.features {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.747),
     rgba(0, 0, 0, 0.849)), url(../img/2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
.features .items {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}
.features .feature {
    padding: 2rem;
    margin: 1rem;
    border: 1px dotted rgb(252, 251, 251);
}
.feature h3, .features  .heading {
    color: white;
}

@media only screen and (max-width: 380px) {
    .features .items {
        display: block;
    }
    .features .feature {
        margin: 0;
        margin-bottom: 2rem;
    }
}
